<%= simple_form_for (@company_form) do |f| %>
  <% if @company_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :logo, as: :file, input_html: { accept: "image/jpeg,image/png" } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
